@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,400;1,200;1,600&family=Roboto&display=swap");
* {
 /* all: unset; //this is ideal, rewrite css so that this can work */
  -webkit-font-smoothing: antialiased;
}
:root{
  --presentation: white;
  --background: lightgray;/* currently unused */
  --accent: #244C7A;
  --dark: #001D6B;
  --mainText: black;
}

body {
  width: 100%;
  color: var(--mainText);
  font-family: "Noto Sans", sans-serif;
  background-color: var(--background);
  font-weight: 400;
  margin: 0;
  font-size: 18px;
  overflow-wrap: break-word;
}

header {
  background-color: var(--accent);
  display: inline-flex;
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

.loader {
  border: 16px solid var(--background); /* background grey */
  border-top: 16px solid var(--accent); /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--backgrund);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.presentation {
  background-color: var(--presentation);
  border-radius: 15px;
  border: 2px solid var(--accent);
  padding: 0.5rem;
}

img#icon{
  height: 2rem;
  padding:  0.25rem 1rem;
  filter: invert(0);
}

img {
  max-height: 90hw;
}

NavBar {
  width: 100%;
}

a#home-button h1{
  /* font-weight: 600 */
  /*not displaying*/
  margin: 0.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

h4 {
  float: center;
}

#search {
  color: black;
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 50;
  padding: 0.5rem;
  height: 1.5rem;
}

imput.search {
  padding: 0.25rem;
}

main {
  margin: 0.5rem;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 85%;
  height: 100%;
  position: relative;
  top: 45.5px;
}

main#unexpanded{
  display: grid;
  grid-template: 1.5rem 1fr/1fr 2fr;
  grid-gap: 0.5rem;
}

main#expanded {
  display: flexbox;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

#sidebar-container {
  padding: .5em;
  padding-top: 0;
  margin-bottom: 0.5rem;
  max-width: 15rem;
  float: right;
  grid-area: 2/1/2/1;
}

#sidebar {
  text-align: center;
  height: calc(100vh - 1rem);
  float: right;
  position: sticky;
  top: 50px;
}

.sidebar-subreddit {
  padding: 0.25rem;
  display: block;
}

.item {
  padding-left: 1rem;
}

.navbar-menus {
  color: white;
  cursor: pointer;
  border: 1px white solid;
  background-color:var(--post);
  height: 1.5rem;
  margin: 0.5rem;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 5px;
}

#posts {
  grid-area: 2/2/2/2;
  display: flex;
  flex-direction: column;
  min-width: 700px;
}

p#user {
  margin: 0;
  font-size: 1rem;
}

h3#title {
  margin: 0;
}

h4#title {
  width: 100%;
  grid-area: 2/2/1/2;
  margin: 0;
}

.post {
  align-items: bottom;
  margin-bottom: 0.5rem;
  max-width: 1000px;
  display: flexbox;
  flex-direction: column;
  margin-left:auto;
  margin-right: auto;
}

.post.unexpanded {
  cursor: pointer;
  width: 100%;
  float: left;
}

.post.expanded {
  /* display post in main div */
  grid-area: 1/2/1/2;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#stats-bar p {
  display: inline-flex;
}

#upvotes {
  text-align: left;
}

#commentsNum {
  float: right;
}

#title-bar {
  margin: 0.5rem;
}

#subreddit-user {
  display: block;
  padding: 1rem;
  position: absolute;
  right: 1rem;
  float: right;
}

#text {
  padding: 1rem;
  margin: 0;
}

#image,
#video {
  width: 100%;
  border-radius: 10px;
  position: relative;
  bottom: -6px;
}

@media (max-width: 1000px) {
  #sidebar {
    display: none;
  }
  
  main {
    font-size: 15px;
    margin: auto;
  }
  
  main#unexpanded {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #posts {
    min-width: 200px;
    width: 90%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    float: left;
  }

  input {
    width: 3rem;
    margin-top: auto;
    margin-bottom: auto;
  }
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}
*/

/*# sourceMappingURL=app.css.map */
